default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: blog_app_development
  host: localhost
  port: 5432
  username: postgres
  password: password

test:
  <<: *default
  database: blog_app_test
  host: localhost
  port: 5432
  username: postgres
  password: password

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
  database: <%= ENV['DATABASE_NAME'] || 'blog_app_production' %>