default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: blog_app_development
  username: postgres
  password: password
  host: localhost
  port: 5432

test:
  <<: *default
  database: blog_app_test
  username: postgres
  password: password
  host: localhost
  port: 5432

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>