<footer class="footer mt-5 py-4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-muted mb-0">© <%= Time.now.year %> SimpleBlog </p>
      </div>
    </div>
  </div>
</footer>